body{
	background-color: white;
}

h1.name{
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	line-height: 20pt;
	color: blue;
}

li.name{
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	line-height: 20pt;
	color: blue;
}

#page-wrap {
	width:1000px; 
	margin: 15px auto;
	position: relative;
}

#sidebar {
	width: 200px; 
	position: fixed;
	margin-left: 1000px;
}

#main {
width:390px; 
float:left;
font-family: 'Droid Sans', sans-serif;
color: blue;
}
