body{
	background-color: white;
}


div.wrapper1{
	width: 100%;
	background : white;
}
div.wrapper2{
	width: 100%;
	background : #61CDF5;
}
div.wrapper3{
	width: 100%;
	background : #666;
}




div.container1{				
	margin-right: 0;
	margin-left: 0;
	position: relative;
	height: 100px;

}

div.container2{             
	margin: 0 auto;
	width: 100%;
	height: 400px;
	font-family: "helvetica neue", Helvetica, sans-serif;
	color: white;
	padding-top: 150px;
}

div.container3{             
	margin: 0 auto;
	width: 100%;
	height: 400px;
	padding-top: 75px;
	font-family: "helvetica neue", Helvetica, sans-serif;
	color: white;
}



